<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" />
  <link rel="shortcut icon" href="http://www.iconj.com/ico/l/q/lq2fojs3h6.ico" type="image/x-icon" />
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
  <title>Process an Artist CV</title>
</head>

<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-head">
      <nav class="navbar is-spaced">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              Art Prizes
            </a>
            <span class="navbar-burger burger">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Process a Artist CV
        </p>
        <p class="subtitle">
          Test with
          <a href="https://artists-cvs.s3.amazonaws.com/cvs/Marc+Ethfrington/cv.pdf" target="new"
            style="text-decoration: underline;">Sample 1</a>
          and
          <a href="https://artists-cvs.s3.amazonaws.com/cvs/Nandalhobbs+(7b89b6289baf25f0f7d4977715caedcb)/cv.pdf"
            target="new" style="text-decoration: underline;">Sample 2</a>
        </p>
        <form class="file is-boxed" style="justify-content: center; margin-top: 2rem;" method="post"
          enctype="multipart/form-data">
          <label class="file-label">
            <input class="file-input" type="file" name="cv" onchange="this.form.submit()" />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Upload your CV
              </span>
            </span>
          </label>
        </form>
      </div>
    </div>
  </section>
</body>

</html>